.header {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.filter input {
  padding: 10px 16px;
  outline: 1px solid var(--border-default);
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.filter input:focus {
  outline-color: var(--orange);
}

.filter input::placeholder {
  color: var(--text-tertiary);
}

.filter {
  background: white;
  position: relative;
  color: var(--text-primary);
}

.filter {
  display: block;
}

.filter:not(:last-child) {
  margin-bottom: 20px;
}
